In [1]:
import pandas as pd
df = pd.read_csv("new3.csv",header=None, low_memory=False)
#print(df.iloc[ : , 8 ].dropna().unique())
unique_zip_array=df.iloc[ : , 8 ].dropna().unique()

In [3]:
unique_zip_array= list(unique_zip_array)
print(len(unique_zip_array)) #length is 236

236

In [4]:
df_closed=df[df.iloc[ : , 19 ].str.contains("Closed")]
df_closed.to_csv("closed_incident.csv",index=False)

In [4]:
df_small=df_closed.iloc[ : , [1,2,8,19] ]  #Selecting only the useful columns
df_small.columns = ["Start_Date", "End_Date", "Zip", "Status"] #Give a name to the columns

df_small.to_csv("small_closed_incident.csv",index=False) #saving the work
df_small

                     Start_Date                End_Date      Zip  Status
0        07/20/2020 10:51:12 AM  09/05/2020 12:32:48 PM  11234.0  Closed
2        07/21/2020 02:13:58 PM  09/05/2020 01:37:31 PM  11210.0  Closed
3        07/27/2020 12:56:33 PM  09/05/2020 08:51:14 AM  11354.0  Closed
5        06/23/2020 11:55:33 AM  08/04/2020 04:45:20 PM      NaN  Closed
6        06/03/2020 08:33:35 AM  07/13/2020 03:09:14 PM      NaN  Closed
...                         ...                     ...      ...     ...
1887570  07/10/2020 10:34:45 AM  08/26/2020 12:00:00 AM  10075.0  Closed
1887572  08/05/2020 02:55:52 PM  08/13/2020 06:35:49 PM  11221.0  Closed
1887573  07/11/2020 10:53:00 AM  08/21/2020 12:00:00 PM  11421.0  Closed
1887575  07/16/2020 12:00:23 PM  08/30/2020 05:59:47 PM  11691.0  Closed
1887576  07/16/2020 04:55:32 PM  09/05/2020 01:28:38 PM  11226.0  Closed

[1721736 rows x 4 columns]

In [5]:
df_small_drop_na=df_small.dropna()
df_small_drop_na.to_csv("small_closed_incident_Drop_NA.csv",index=False) #saving the work
df_small_drop_na

                     Start_Date                End_Date      Zip  Status
0        07/20/2020 10:51:12 AM  09/05/2020 12:32:48 PM  11234.0  Closed
2        07/21/2020 02:13:58 PM  09/05/2020 01:37:31 PM  11210.0  Closed
3        07/27/2020 12:56:33 PM  09/05/2020 08:51:14 AM  11354.0  Closed
10       06/22/2020 06:17:00 PM  06/23/2020 08:59:00 AM  10451.0  Closed
11       06/21/2020 03:30:00 AM  06/22/2020 09:50:00 PM  10031.0  Closed
...                         ...                     ...      ...     ...
1887570  07/10/2020 10:34:45 AM  08/26/2020 12:00:00 AM  10075.0  Closed
1887572  08/05/2020 02:55:52 PM  08/13/2020 06:35:49 PM  11221.0  Closed
1887573  07/11/2020 10:53:00 AM  08/21/2020 12:00:00 PM  11421.0  Closed
1887575  07/16/2020 12:00:23 PM  08/30/2020 05:59:47 PM  11691.0  Closed
1887576  07/16/2020 04:55:32 PM  09/05/2020 01:28:38 PM  11226.0  Closed

[1685801 rows x 4 columns]

## Calculate the response time using start and end date

In [5]:
df=pd.read_csv("small_closed_incident_Drop_NA.csv",low_memory=False)
ending_time=pd.to_datetime(df["End_Date"])
ending_time

0         2020-09-05 12:32:48
1         2020-09-05 13:37:31
2         2020-09-05 08:51:14
3         2020-06-23 08:59:00
4         2020-06-22 21:50:00
                  ...
1685796   2020-08-26 00:00:00
1685797   2020-08-13 18:35:49
1685798   2020-08-21 12:00:00
1685799   2020-08-30 17:59:47
1685800   2020-09-05 13:28:38
Name: End_Date, Length: 1685801, dtype: datetime64[ns]

In [6]:
starting_time=pd.to_datetime(df["Start_Date"])
starting_time

0         2020-07-20 10:51:12
1         2020-07-21 14:13:58
2         2020-07-27 12:56:33
3         2020-06-22 18:17:00
4         2020-06-21 03:30:00
                  ...
1685796   2020-07-10 10:34:45
1685797   2020-08-05 14:55:52
1685798   2020-07-11 10:53:00
1685799   2020-07-16 12:00:23
1685800   2020-07-16 16:55:32
Name: Start_Date, Length: 1685801, dtype: datetime64[ns]

In [7]:
time_diff_in_hour= (ending_time - starting_time).astype('timedelta64[h]')
time_diff_in_hour

0          1129.0
1          1103.0
2           955.0
3            14.0
4            42.0
            ...
1685796    1117.0
1685797     195.0
1685798     985.0
1685799    1085.0
1685800    1220.0
Length: 1685801, dtype: float64

In [17]:
#df["time_diff_in_hour"]=time_diff_in_hour
df["time_diff_in_hour"]=time_diff_in_hour
df_with_positive_time_diff=df[df["time_diff_in_hour"]>=0]
df_with_positive_time_diff

,Start_Date,End_Date,Zip,Status,time_diff_in_hour
0,07/20/2020 10:51:12 AM,09/05/2020 12:32:48 PM,11234.0,Closed,1129.0
1,07/21/2020 02:13:58 PM,09/05/2020 01:37:31 PM,11210.0,Closed,1103.0
2,07/27/2020 12:56:33 PM,09/05/2020 08:51:14 AM,11354.0,Closed,955.0
3,06/22/2020 06:17:00 PM,06/23/2020 08:59:00 AM,10451.0,Closed,14.0
4,06/21/2020 03:30:00 AM,06/22/2020 09:50:00 PM,10031.0,Closed,42.0
...,...,...,...,...,...
1685796,07/10/2020 10:34:45 AM,08/26/2020 12:00:00 AM,10075.0,Closed,1117.0
1685797,08/05/2020 02:55:52 PM,08/13/2020 06:35:49 PM,11221.0,Closed,195.0
1685798,07/11/2020 10:53:00 AM,08/21/2020 12:00:00 PM,11421.0,Closed,985.0
1685799,07/16/2020 12:00:23 PM,08/30/2020 05:59:47 PM,11691.0,Closed,1085.0
1685800,07/16/2020 04:55:32 PM,09/05/2020 01:28:38 PM,11226.0,Closed,1220.0

In [18]:
df_with_positive_time_diff.to_csv("small_closed_incident_drop_na_time_diff_positive.csv",index=False)

## Creating a month column corresponding to the starting date

In [21]:
df_with_positive_time_diff["Month_number"]=ending_time.dt.month #Based on starting time
df_with_positive_time_diff

<ipython-input-21-9835703b8983>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_positive_time_diff["Month_number"]=ending_time.dt.month #Based on starting time

,Start_Date,End_Date,Zip,Status,time_diff_in_hour,Month_number
0,07/20/2020 10:51:12 AM,09/05/2020 12:32:48 PM,11234.0,Closed,1129.0,9
1,07/21/2020 02:13:58 PM,09/05/2020 01:37:31 PM,11210.0,Closed,1103.0,9
2,07/27/2020 12:56:33 PM,09/05/2020 08:51:14 AM,11354.0,Closed,955.0,9
3,06/22/2020 06:17:00 PM,06/23/2020 08:59:00 AM,10451.0,Closed,14.0,6
4,06/21/2020 03:30:00 AM,06/22/2020 09:50:00 PM,10031.0,Closed,42.0,6
...,...,...,...,...,...,...
1685796,07/10/2020 10:34:45 AM,08/26/2020 12:00:00 AM,10075.0,Closed,1117.0,8
1685797,08/05/2020 02:55:52 PM,08/13/2020 06:35:49 PM,11221.0,Closed,195.0,8
1685798,07/11/2020 10:53:00 AM,08/21/2020 12:00:00 PM,11421.0,Closed,985.0,8
1685799,07/16/2020 12:00:23 PM,08/30/2020 05:59:47 PM,11691.0,Closed,1085.0,8
1685800,07/16/2020 04:55:32 PM,09/05/2020 01:28:38 PM,11226.0,Closed,1220.0,9

In [22]:
df_with_positive_time_diff.to_csv("FINAL_small_closed_incident_drop_na_time_diff__positive_month.csv",index=False)